DRAGON_PAYMENT_MODE=mock
OKX_DEVELOPER_API_KEY=replace-with-okx-developer-api-key
OKX_RECIPIENT_WALLET=replace-with-recipient-wallet
OKX_BROKER_BASE_URL=https://replace-with-okx-broker.example
OKX_NETWORK=eip155:196
OKX_ASSET={{ real_mode_asset }}

